@import url(fonts.css);

/*border: 1px solid red;*/

html, body {
    margin: 0;
    padding: 0;
}

/* ----->>> Nav Bar <<<------*/
nav a {
    color: #bdbdbd;
    text-decoration: inherit;
    font-family: "Lato Regular";
    font-size: 13px;
}

nav {
    background-color: #1c1c1b;
    height: 50px;
}

nav > div {
    position: relative;
    top: 30%; /* center x */
}

#logo {
    float: left;
    margin-left: 20px;
}

.nav-item {
    float: right;
    margin: 0 20px;
}
/* -----------------------------------*/


#project-title {
    font-family: "Lato Light";
    color: #7a7a7a;
}

#header-img {
    width: 100%;
    height: auto;
}

.line-break {
    height: 1px;
    width: 90%;
    background-color: #c2c2c2;
    margin-bottom: 20px;
}

.feature {
    width: 200px;
    height: 100%;
    margin: 20px 20px 50px 20px;
}


/* ----->>> Centering <<<------*/
.centered-container {
    text-align: center;
}

.centered-child {
    display: inline-block;
}
/* -----------------------------------*/


/* ----->>> Feature Circles <<<------*/
svg {
    height: 100px;
    width: 100px;
    margin: 60px 50px 12px 50px;
}

circle {
    cx: 50;
    cy: 50;
    r: 50;
    fill: #fff6bd;
}
/* -----------------------------------*/


/* ----->>> Feature Text <<<------*/
.feature-title {
    margin: 8px 0 8px 0;
    color: #383838;
    font-family: "Lato Bold";
}

.feature-body {
    margin: 0px;
    word-wrap: break-word;
    color: #7a7a7a;
    font-family: "Lato Regular";
    font-size: 9pt;
    line-height: 150%;
}
/* -----------------------------------*/
