
<img id="burger-bar" src="/supporting-files/images/burger-bar.png" alt="">
<nav class="w3-animate-left" id="nav">
    <div id="nav-items-wrapper">
        <div class="nav-item">
            <img src="/supporting-files/images/designer-icon.png" alt="">
        </div>
        <div class="nav-item">
            <img src="/supporting-files/images/designer-icon.png" alt="">
        </div>
        <div class="nav-item">
            <img src="/supporting-files/images/designer-icon.png" alt="">
        </div>
    </div>
</nav>
