
<img id="burger-bar" src="/supporting-files/images/burger-bar.png" alt="">
<nav class="w3-animate-left" id="nav">
    <div id="nav-items-wrapper">

        <div class="nav-item">
            <div class="selected-indicator" id="home"></div>
            <a href="/">
                <img src="/supporting-files/images/designer-icon.png" alt="">
            </a>
        </div>

        <div class="nav-item">
            <div class="selected-indicator" id="projects"></div>
            <a href="/projects">
                <img src="/supporting-files/images/code-icon.png" alt="">
            </a>
        </div>

    </div>
</nav>
