<div id="burger-bar"></div>
<nav id="nav">
    <div id="nav-items-wrapper">
        <div class="nav-item">Item 1</div>
        <div class="nav-item">Item 2</div>
        <div class="nav-item">Item 3</div>
    </div>
</nav>
