
<!--metadata-->
<title>Gavi Rawson</title>
<meta name="description" content="Gavi Rawson's portfolio.">
<meta name="author" content="Gavi Rawson">

<!--css-->
<link rel="stylesheet" href="css/home/home.css">

<!--RequireJS-->
<script data-main="_script/homeLoader" src="/bower_components/requirejs/require.js"></script>