<!doctype html>

<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111588985-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-111588985-1');
    </script>

    {{>common/header}}
    {{>home/header}}
</head>


<body>

<div id="fullpage">

    <!--GAVI SECTION-->
    <div id="gavi-section" class="section">
        <div id="gavi-img">
            <div id="nav">
                <img id="gavi-rawson" class="center-y" src="_assets/img/gavi-rawson-title.png">

                <div id="contact-container" class="center-y">
                    <a href="_assets/img/resume.pdf" target="_blank">
                        <img src="_assets/img/resume-icon.png">
                    </a>

                    <a href="https://github.com/grawson" target="_blank">
                        <img src="_assets/img/github.png">
                    </a>

                    <a href="https://www.linkedin.com/in/gavi-rawson/" target="_blank">
                        <img src="_assets/img/linkedin.png">
                    </a>
                </div>
            </div>

            <img id="arrow" class="center-x" src="_assets/img/arrow.png">
        </div>
    </div>

    <!--PROGRAMMER SECTION-->
    <div id="programmer-section" class="section">
        <div class="section-card center-xy">
            <div class="content-container center-xy">
                <img id="computer" class="center-x" src="_assets/img/computer.png">
                <img id="programmer-title" class="center-x" src="_assets/img/programmer.png">
                <p>From mobile apps to robotics path planning algorithms, I’m a full stack kind of guy. I love tinkering with new frameworks and building real world solutions. Some areas that interest me include the health space, robotics, and game development.</p>
            </div>
        </div>
    </div>

    <!--DESIGNER SECTION-->
    <div id="designer-section" class="section">
        <div class="section-card center-xy">
            <div class="content-container center-xy">
                <img id="designer" class="center-x" src="_assets/img/designer.png">
                <p>After enrolling in courses at Maryland Institute College of Art, a love for illustration developed into a love for Illustrator. Since then, I always look for ways to fuse design and technology. I have crafted graphics for my tech projects, student groups, and even designed a full-fledged video game!</p>
            </div>
        </div>
    </div>

    <!--STUDENT SECTION-->
    <div id="student-section" class="section">
        <div class="section-card center-xy">
            <div class="content-container center-xy">
                <img id="grad-hat" class="center-x" src="_assets/img/grad-hat.png">
                <img id="student" class="center-x" src="_assets/img/student.png">
                <p>I began college in the creative writing program, and ended as a computer science major. Total 180 and I’ve never been happier. My years studying computer science left me with technical skills in AI, computer vision, and natural language processing. My humanities years taught me aspects of psychology, anthropology, and public health that only strengthen the application of my technical skills to the real world. Currently, I am pursing a masters in computer science where I am exploring robotics and machine learning. </p>
            </div>
        </div>
    </div>
</div>


</body>
</html>