<!doctype html>

<html lang="en">
<head>
    {{>common/header}}
    {{>home/header}}
</head>


<body>

<div id="fullpage">

    <!--GAVI SECTION-->
    <div id="gavi-section" class="section">
        <div id="gavi-img">
            <div id="nav">
                <img id="gavi-rawson" class="center-y" src="_assets/img/gavi-rawson-title.png">

                <div id="contact-container" class="center-y">
                    <a href="_assets/img/resume.pdf" target="_blank">
                        <img src="_assets/img/resume-icon.png">
                    </a>

                    <a href="https://github.com/grawson" target="_blank">
                        <img src="_assets/img/github.png">
                    </a>

                    <a href="https://www.linkedin.com/in/gavi-rawson/" target="_blank">
                        <img src="_assets/img/linkedin.png">
                    </a>
                </div>
            </div>

            <img id="arrow" class="center-x" src="_assets/img/arrow.png">
        </div>
    </div>

    <!--PROGRAMMER SECTION-->
    <div id="programmer-section" class="section">
        <div class="section-card center-xy">
            <div class="content-container center-xy">
                <img id="computer" class="center-x" src="_assets/img/computer.png">
                <img id="programmer-title" class="center-x" src="_assets/img/programmer.png">
                <p>Lorem ipsum dolor sit amet, conse Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.ctetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqu</p>
            </div>
        </div>
    </div>

    <!--DESIGNER SECTION-->
    <div id="designer-section" class="section">
        <div class="section-card center-xy">
            <div class="content-container center-xy">
                <img id="designer" class="center-x" src="_assets/img/designer.png">
                <p>Lorem ipsum dolor sit amet, conse Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.ctetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqu</p>
            </div>
        </div>
    </div>

    <!--STUDENT SECTION-->
    <div id="student-section" class="section">
        <div class="section-card center-xy">
            <div class="content-container center-xy">
                <img id="grad-hat" class="center-x" src="_assets/img/grad-hat.png">
                <img id="student" class="center-x" src="_assets/img/student.png">
                <p>Lorem ipsum dolor sit amet, conse Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.ctetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqu</p>
            </div>
        </div>
    </div>
</div>


</body>
</html>