.line-break {
    height: 1px;
    width: 90%;
    background-color: #c2c2c2;
    margin-bottom: 20px;
}

.break {
    background-color: #121317;
    height: 50px;
    width: 100%;
    margin-bottom: 70px;

}

p {
    font-family: "Lato";
}
