.line-break {
    text-align: center;
    background-color: #121317;
    height: 1px;
    width: 100%;
}

.break {
    background-color: #121317;
    height: 50px;
    width: 100%;

}

p, h1, h2, h3, h4, h5, h6 {
    font-family: "Gotham Light";
}
