.line-break {
    text-align: center;
    background-color: #121317;
    height: 1px;
    width: 100%;
}

.break {
    background-color: #121317;
    height: 50px;
    width: 100%;

}

p, h1, h2, h3, h4, h5, h6 {
    font-family: "Gotham Light";
}

#header-img-container {
    width: 100%;
    position: relative;
    padding-bottom: 42.28%;
}

#header-img {
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    margin-top: -3px;
    height: auto;
}
