@font-face {
    font-family: "Gotham Light Italic";
    src: url("/supporting-files/fonts/GOTHAM-LIGHTITALIC.ttf");
}

@font-face {
    font-family: "Gotham Light";
    src: url("/supporting-files/fonts/GOTHAM-LIGHT.ttf");
}

@font-face {
    font-family: "Gotham Bold";
    src: url("/supporting-files/fonts/GOTHAM-BOLD.ttf");
}

@font-face {
    font-family: "Ailerons";
    src: url("/supporting-files/fonts/Ailerons-Typeface.otf");
}
