nav {
    position: absolute;
    height: 100%; width: 80px;
    left: -80px; overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #20232a;
    z-index: 1;
}

#burger-bar {
    position: absolute;
    margin: 13px 0 0 13px;
    z-index: 2;
}

#burger-bar:hover {
    cursor: pointer;
}

#nav-items-wrapper {
    margin-top: 70px;
    width: 100%;
    text-align: center;
    color: white;
}

.nav-item {
    padding: 20px 0;
}

.nav-item:hover {
    background-color: #101012;
    cursor: pointer;
}

.selected-indicator {
    position: absolute;
    margin-top: -3px;
    width: 2px; height: 60px;
    background-color: #ff736f;
    display: none;

}


/** ANIMATIONS ******************************************************/

.slide-out, .slide-in {
    -moz-transition: left 0.4s ease-in-out;
    -o-transition: left 0.4s ease-in-out;
    -webkit-transition: left 0.4s ease-in-out;
    transition: left 0.4s ease-in-out;
}

.slide-in { left: 0px; }
.slide-out { left: -80px; }
