@import "_style/scss/common/colors";

$mobile: 450px;
$margin-v: 3vh;
$margin-h: 3vw;
$arrow-height: 3vh;
$nav-height: 10vh;

// COMMON *********************************************************************

html {
  display: None;  // hide to let fullpagejs load
}

.section {
  background-color: $background;
}

.section-card {
  background-color: $background;
  height: 95%;
  width: 95%;
  border-radius: 5px;
  overflow: hidden;

  -webkit-box-shadow: 0px 0px 37px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 37px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 37px 2px rgba(0,0,0,0.75);
}

p {
  color: white;
  line-height: 2;
  text-align: center;
  padding: 0 20% 0 20%;
  display: block;

  @media (max-device-width: $mobile) {
    font-size: 3em;
    padding: 0 5% 0 5%;
  }
}

// GAVI SECTION *********************************************************************

#gavi-section {
  background-color: white;
}

#gavi-img {
  background-image: url("/_assets/img/gavi-rawson-image.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  animation: 1s ease-in 0s fade-in;
}

#arrow {
  position: absolute;
  bottom: -($arrow-height + $margin-v);
  width: auto;
  height: $arrow-height;
  padding-bottom: $margin-v;

  animation: 0.5s ease 1.15s 1 normal forwards running slide-up;
}

#nav {
  height: $nav-height;
  top: -$nav-height;
  width: 100%;
  background-color: $background;
  opacity: 0.58;
  position: absolute;

  animation: 0.5s ease 1.15s 1 normal forwards running slide-down;
}

// hack for safari
#nav:not(:root:root){
  mix-blend-mode: overlay;
}

#gavi-rawson {
  height: 40%;
  width: auto;
  padding-left: $margin-h;

  @media (max-device-width: $mobile) {  height: 25%;  }
}

#contact-container {
  height: 55%;
  float: right;

  img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    margin-right: 20px;
  }
}

@keyframes fade-in {
  from {  opacity: 0;  }
  to   {  opacity: 1;  }
}

@keyframes slide-down {
  from {
    top: -$nav-height;
    opacity: 0;
    mix-blend-mode: overlay;
  }
  to   {
    top: 0;
    opacity: 0.58;
    mix-blend-mode: overlay;
  }
}

@keyframes slide-up {
  from {
    bottom: -($arrow-height + $margin-v);
    opacity: 0;
  }
  to   {
    bottom: 0;
    opacity: 0.75;
  }
}



// PROGRAMMER SECTION *********************************************************************

#programmer-title, #student {
  width: auto;
  padding-bottom: $margin-v;
  display: block;

  @media (orientation: landscape) {  height: 7vh;  }
  @media (orientation: portrait)  {  height: 7vw;  }

}

#computer {
  width: auto;
  padding-bottom: $margin-v;
  display: block;

  @media (orientation: landscape) {  height: 40vh;  }
  @media (orientation: portrait)  {  height: 40vw;  }

  @media (max-device-width: $mobile) {
    width: 80%;
    height: auto;
  }
}


// DESIGNER SECTION *********************************************************************

#designer {
  width: auto;
  padding-bottom: $margin-v;

  @media (orientation: landscape) {  height: 46vh;  }
  @media (orientation: portrait)  {  height: 46vw;  }
}


// STUDENT SECTION *********************************************************************

#grad-hat {
  width: auto;
  padding-bottom: $margin-v;

  @media (orientation: landscape) {  height: 30vh;  }
  @media (orientation: portrait)  {  height: 30vw;  }

  @media (max-device-width: $mobile) {
    width: 65%;
    height: auto;
  }
}