/*border: 1px solid red;*/

/********************************* Misc *********************************/

#header-img {
    width: 100%;
    height: auto;
}

section {
    margin-top: -3px;
}

.section-container {
    width: 60%;
    margin-bottom: 70px;
    text-align: left;
}

.title {
    margin: 0;
    font-family: "Gotham Light";
    margin-bottom: 4px;
}

.body {
    margin: 0;
    color: #7a809c;
    font-size: 13px;
    line-height: 150%;
    font-family: "Gotham Light";

}

.end-break {
    background-color: #121317;
    height: 50px;
    width: 100%;
}

.section-header {
    font-family: "Gotham Light";
    color: #363945;
    display: inline-block;
    margin-top: 16px;
}
