/*border: 1px solid red;*/

/********************************* Misc *********************************/

#contact {
    margin: 0;
    padding: 18px 0 0 0;
    color: #5a5e73;
    /*font-size: 13px;*/
}

section {
    margin-top: -3px;
}

.bio-img {
    height: 50px;
}

table {
    width: 60%;
    border-collapse:separate;
    border-spacing: 10px 40px;
}

tr {
    text-align: left;
}

th {
    text-align: left;
}

.sidebar {
    background-color: #3a4b5c;
    width: 1px;
    border-radius: 100px;
}

.bio-title {
    margin: 0;
    color: #ff736f;
    margin-bottom: 4px;
}

.bio-body {
    margin: 0;
    color: #7a809c;
    font-size: 13px;
    line-height: 150%;
}
