/*border: 1px solid red;*/

/********************************* Misc *********************************/

nav {
    height: 50px;
    background-color: #1c1c1b;
}

nav > ul > li {
    display: inline;
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 48px;
}

.right-nav-item {
    float: right;
    height: 100%;
}

nav a {
    color: #bdbdbd;
    text-decoration: inherit;
    font-family: "Lato Regular";
    font-size: 13px;
}

.right-nav-link {
    padding: 0 20px;
    line-height: 50px;
    display: block;
}

.right-nav-link:hover, .dropdown-content:hover, .active {
    background-color: #000000;
    color: #ee8c72;
}


#logo-container {
    display: inline-block;
    margin: 6px 0 0 20px;
    position: relative;
}

#logo {
    height: 35px;
}

/********************************* Dropdown *********************************/

#dropdown {
    background-color: #000000;
    position: absolute;
    width: 286px;
    display: block;
    border-radius: 0 0 0 5px;

}

#dropdown > ul {
    list-style-type: none;
}


#dropdown li {
    padding: 0;
    display: block;
    margin: 10px 20px 10px -20px;
}
