/*border: 1px solid red;*/

/********************************* Misc *********************************/

section {
    margin-top: -3px;
}

.break {
    display: inline-block;;
    text-align: center;
}

#project-title {
    font-family: "Gotham Light";
    color: #363945;
    display: block;
    margin-top: 16px;
}

#header-img {
    width: 100%;
    height: auto;
}

/********************************* Features *********************************/

#feature-image {
    height: 65px;
}

.feature-title {
    margin: 20px 0 5px 0;
    color: #bac3ed;
    font-family: "Gotham Bold";
}

.feature-body {
    margin: 0px;
    word-wrap: break-word;
    color: #7a809c;
    font-family: "Gotham Light";
    font-size: 9pt;
    line-height: 150%;
}

.feature {
    width: 200px;
    height: 100%;
    margin: 0px 20px 60px 20px;
}
