<!doctype html>

<html lang="en">
<head>
    {{> header }}
    <title>Gabriel Rawson</title>
    <meta name="Contact" content="Gabriel Rawson's contact information">
    <link rel="stylesheet" href="/_css/contact.css">
</head>

<body>

    {{> nav }}

    <section id="contact-section" class="centered-container">
        <div class="centered-child">
            <img src="/supporting-files/images/feature.png" alt="img" id="feature-image">
            <h2 id="title">Give Me a Ring</h2>
            <p class="subtitle">914-560-6688</p>
            <p class="subtitle">grawson@jhu.edu</p>
        </div>
    </section>

</body>
</html>
