<!doctype html>

<html lang="en">
<head>
    {{> header }}
    <title>Gabriel Rawson</title>
    <meta name="Contact" content="Gabriel Rawson's contact information">
</head>

<body>

    {{> nav }}

    <h3>Contact page coming soon...</h3>

</body>
</html>
