<!doctype html>

<html lang="en">
<head>
    {{> header }}
    <title>Gabriel Rawson</title>
    <meta name="Experience" content="Gabriel Rawson's Experience">
</head>

<body>

    {{> nav }}

    <h3>Experience page coming soon...</h3>
    
</body>
</html>
