<!doctype html>

<html lang="en">
<head>
    {{> header }}
    <title>Gabriel Rawson</title>
    <meta name="Portfolio" content="Gabriel Rawson's Portfolio">
    <link rel="stylesheet" href="/_css/home.css">
    <script src="/_js/nav.js"></script>
</head>

<body>

    {{> nav }}

    <!-- Image header -->
    <header>
        <img id="header-img" src="/supporting-files/images/gabriel-rawson.png" alt="Gabriel Rawson">
    </header>

    <section class="centered-container">

        <h1 id="project-title">Student • Computer Scientist • Designer</h1>

        <!-- Line break -->
        <div class="line-break centered-child"></div>

    </section>

</body>
</html>
