<!doctype html>

<html lang="en">
<head>
    {{> header }}
    <title>Gabriel Rawson</title>
    <meta name="Portfolio" content="Gabriel Rawson's Portfolio">
    <link rel="stylesheet" href="/_css/home.css">
</head>

<body>



    {{> nav }}

    <!-- Image header -->
    <header>
        <img id="header-img" src="/supporting-files/images/gabriel-rawson.png" alt="Gabriel Rawson">
    </header>

    <section class="centered-container">

        <div id="code">
            <div>



            {{#bio}}
                <table>
                    <tr>
                        <td class="bio-title">{{bio-title}}</td>
                        <td class="bio-body">{{bio-body}}</td>
                    </tr>
                </table>
            {{/bio}}

            </div>

        </div>

    </section>

</body>
</html>
