<!doctype html>

<html lang="en">
<head>
    {{> header }}
    <title>Gabriel Rawson</title>
    <meta name="Portfolio" content="Gabriel Rawson's Portfolio">
    <link rel="stylesheet" href="/_css/home.css">
</head>

<body>

    {{> nav }}

    <!-- Image header -->
    <header>
        <img id="header-img" src="/supporting-files/images/gabriel-rawson.png" alt="Gabriel Rawson">
    </header>

    <!-- <div class="sidebar"></div> -->


    <section>

        <div class="break centered-container">
            <p id="contact">grawson@jhu.edu • 914-560-6688</p>
        </div>


            <table>
                {{#bio}}


                <tr>

                    <td><img class="bio-img" src="/supporting-files/images/code-icon.png" alt="img"></td>
                    <td class="sidebar"></td>
                    <td>
                        <h3 class="bio-title">{{bio-title}}</h3>
                        <p class="bio-body">{{bio-body}}</p>
                    </td>
                </tr>

                {{/bio}}


            </table>



    </section>


</body>
</html>
