<!-- Nav -->
<nav>
    <ul>
        <li id="logo-container">
            <a href="/">
                <img id="logo" src="/supporting-files/images/logo.png" alt="GR">
            </a>
        </li>
        <li class="right-nav-item"><a href="/experience" class="right-nav-link" id="experience">EXPERIENCE</a></li>
        <li class="right-nav-item">
            <a class="right-nav-link" id="projects">PROJECTS ▾</a>
            <div id="dropdown">
                <ul>
                    <li><a href="/projects/spring-fair" class="dropdown-content" id="spring-fair">Spring Fair</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>
