<!doctype html>

<html lang="en">
<head>
    {{>common/header}}
    <title>Gavi Rawson</title>
    <meta name="Projects" content="Gavi Rawson's Projects">
    <link rel="stylesheet" href="/_css/projects.css">
    <script src="/_js/projects.js"></script>
</head>
<body>
    
    {{>common/nav}}

    <div id="fullpage">
        <!-- section 1 -->
        <div id="s1" class="section">

        </div>
    </div>

</body>
</html>
